    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }


    tbody tr:nth-child(odd) {
        background-color: #CBC3E3;
    }